@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap');

html,
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.display {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.loading {
  animation: spin 2s linear infinite;
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #1a1a1a;
  height: 60px;
  margin-bottom: 50%;
  width: 60px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
